@page
@model PS8.Pages.Login.UserLoginModel
@{
    ViewData["Title"] = "UserLogin";
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@if(HttpContext.User.Identity.IsAuthenticated)
{
    <div class="container">
        <h1 class="text-danger">Jestes juz zalologowany</h1>
        <a asp-page="/Index"><button type="button" class="btn btn-primary">Powrot</button></a>
</div>
}
else{ 

<div class="container">
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label asp-for="user.userName" class="control-label"></label>
            <div class="col-sm-6">
                <input asp-for="user.userName" class="form-control">
                <span asp-validation-for="user.userName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="user.password" class="control-label col-sm2"></label>
            <div class="col-sm-6">
                <input asp-for="user.password" class="form-control">
                <span asp-validation-for="user.password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn btn-primary">Zatwierdź</button>
            </div>
        </div>
    </form>
</div>
}
